:root {
    --verde-agrinho: #2e7d32;
    --verde-folha: #4caf50;
    --azul-agua: #2196f3;
    --tomate-maduro: radial-gradient(circle at 30% 30%, #ff5252, #b71c1c);
    --tomate-verde: radial-gradient(circle at 30% 30%, #9ccc65, #3